/* Colors */
/* reset indent to zero level */
.tl_content.clear-indent {
  width: 693px;
  border-left: none;
  border-right: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-left: 0;
  margin-right: 0; }

.tl_content.indent {
  border-left: 10px solid #f3f3f3;
  border-right: 10px solid #f3f3f3; }

.tl_content.wrapper_start.clear-indent,
.tl_content.wrapper_separator.clear-indent,
.tl_content.wrapper_stop.clear-indent {
  background: #f3f3f3; }

.tl_content.wrapper_start.indent_5,
.tl_content.wrapper_separator.indent_5,
.tl_content.wrapper_stop.indent_5 {
  background: #eaeaea; }

.tl_content.wrapper_start.indent_4,
.tl_content.wrapper_separator.indent_4,
.tl_content.wrapper_stop.indent_4 {
  background: #f3f3f3; }

.tl_content.wrapper_start.indent_3,
.tl_content.wrapper_separator.indent_3,
.tl_content.wrapper_stop.indent_3 {
  background: #eaeaea; }

.tl_content.wrapper_start.indent_2,
.tl_content.wrapper_separator.indent_2,
.tl_content.wrapper_stop.indent_2 {
  background: #f3f3f3; }

.tl_content.wrapper_start.indent_1,
.tl_content.wrapper_separator.indent_1,
.tl_content.wrapper_stop.indent_1 {
  background: #eaeaea; }

.tl_content.wrapper_start.indent_0,
.tl_content.wrapper_separator.indent_0,
.tl_content.wrapper_stop.indent_0 {
  background: #f3f3f3; }

.tl_content.indent_5 {
  width: 593px;
  margin-left: 40px;
  margin-right: 40px;
  -webkit-box-shadow: -10px 0 #eaeaea, 10px 0 #eaeaea, -20px 0 #f3f3f3, 20px 0 #f3f3f3, -30px 0 #eaeaea, 30px 0 #eaeaea, -40px 0 #f3f3f3, 40px 0 #f3f3f3;
          box-shadow: -10px 0 #eaeaea, 10px 0 #eaeaea, -20px 0 #f3f3f3, 20px 0 #f3f3f3, -30px 0 #eaeaea, 30px 0 #eaeaea, -40px 0 #f3f3f3, 40px 0 #f3f3f3;
  border-left-color: #f3f3f3;
  border-right-color: #f3f3f3; }

.tl_content.indent_4 {
  width: 613px;
  margin-left: 30px;
  margin-right: 30px;
  -webkit-box-shadow: -10px 0 #f3f3f3, 10px 0 #f3f3f3, -20px 0 #eaeaea, 20px 0 #eaeaea, -30px 0 #f3f3f3, 30px 0 #f3f3f3;
          box-shadow: -10px 0 #f3f3f3, 10px 0 #f3f3f3, -20px 0 #eaeaea, 20px 0 #eaeaea, -30px 0 #f3f3f3, 30px 0 #f3f3f3;
  border-left-color: #eaeaea;
  border-right-color: #eaeaea; }

.tl_content.indent_3 {
  width: 633px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-shadow: -10px 0 #eaeaea, 10px 0 #eaeaea, -20px 0 #f3f3f3, 20px 0 #f3f3f3;
          box-shadow: -10px 0 #eaeaea, 10px 0 #eaeaea, -20px 0 #f3f3f3, 20px 0 #f3f3f3;
  border-left-color: #f3f3f3;
  border-right-color: #f3f3f3; }

.tl_content.indent_2 {
  width: 653px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-shadow: -10px 0 #f3f3f3, 10px 0 #f3f3f3;
          box-shadow: -10px 0 #f3f3f3, 10px 0 #f3f3f3;
  border-left-color: #eaeaea;
  border-right-color: #eaeaea; }

.tl_content.indent_1 {
  width: 673px;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-left-color: #f3f3f3;
  border-right-color: #f3f3f3; }

.tl_content.indent_0 {
  width: 693px;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-left: none;
  border-right: none; }

.tl_content.wrapper_stop.indent-tags-closing-middle {
  border-bottom: 0; }

/*
 *
 * COLORIZE
 *
 */
.tl_content.wrapper_start.colorize-wrapper-tags.indent_5,
.tl_content.wrapper_separator.colorize-wrapper-tags.indent_5,
.tl_content.wrapper_stop.colorize-wrapper-tags.indent_5 {
  background: #d8e4ca; }

.tl_content.wrapper_start.colorize-wrapper-tags.indent_4,
.tl_content.wrapper_separator.colorize-wrapper-tags.indent_4,
.tl_content.wrapper_stop.colorize-wrapper-tags.indent_4 {
  background: #e5ffe2; }

.tl_content.wrapper_start.colorize-wrapper-tags.indent_3,
.tl_content.wrapper_separator.colorize-wrapper-tags.indent_3,
.tl_content.wrapper_stop.colorize-wrapper-tags.indent_3 {
  background: #fff4b6; }

.tl_content.wrapper_start.colorize-wrapper-tags.indent_2,
.tl_content.wrapper_separator.colorize-wrapper-tags.indent_2,
.tl_content.wrapper_stop.colorize-wrapper-tags.indent_2 {
  background: #fffde2; }

.tl_content.wrapper_start.colorize-wrapper-tags.indent_1,
.tl_content.wrapper_separator.colorize-wrapper-tags.indent_1,
.tl_content.wrapper_stop.colorize-wrapper-tags.indent_1 {
  background: #eaeaea; }

.tl_content.colorize-wrapper-tags.indent_5 {
  -webkit-box-shadow: -10px 0 #fff4b6, 10px 0 #fff4b6, -20px 0 #fffde2, 20px 0 #fffde2, -30px 0 #eaeaea, 30px 0 #eaeaea, -40px 0 #f3f3f3, 40px 0 #f3f3f3;
          box-shadow: -10px 0 #fff4b6, 10px 0 #fff4b6, -20px 0 #fffde2, 20px 0 #fffde2, -30px 0 #eaeaea, 30px 0 #eaeaea, -40px 0 #f3f3f3, 40px 0 #f3f3f3;
  border-left-color: #e5ffe2;
  border-right-color: #e5ffe2; }

.tl_content.colorize-wrapper-tags.indent_4 {
  -webkit-box-shadow: -10px 0 #fffde2, 10px 0 #fffde2, -20px 0 #eaeaea, 20px 0 #eaeaea, -30px 0 #f3f3f3, 30px 0 #f3f3f3;
          box-shadow: -10px 0 #fffde2, 10px 0 #fffde2, -20px 0 #eaeaea, 20px 0 #eaeaea, -30px 0 #f3f3f3, 30px 0 #f3f3f3;
  border-left-color: #fff4b6;
  border-right-color: #fff4b6; }

.tl_content.colorize-wrapper-tags.indent_3 {
  -webkit-box-shadow: -10px 0 #eaeaea, 10px 0 #eaeaea, -20px 0 #f3f3f3, 20px 0 #f3f3f3;
          box-shadow: -10px 0 #eaeaea, 10px 0 #eaeaea, -20px 0 #f3f3f3, 20px 0 #f3f3f3;
  border-left-color: #fffde2;
  border-right-color: #fffde2; }

.tl_content.colorize-wrapper-tags.indent_2 {
  -webkit-box-shadow: -10px 0 #f3f3f3, 10px 0 #f3f3f3;
          box-shadow: -10px 0 #f3f3f3, 10px 0 #f3f3f3;
  border-left-color: #eaeaea;
  border-right-color: #eaeaea; }

.tl_content.colorize-wrapper-tags.indent_1 {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-left-color: #f3f3f3;
  border-right-color: #f3f3f3; }

.tl_content.colorize-wrapper-tags.indent_0 {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-left: none;
  border-right: none; }

.tl_content.clear-indent,
.tl_content.indent,
.tl_content.indent_0,
.tl_content.indent_1,
.tl_content.indent_2,
.tl_content.indent_3,
.tl_content.indent_4,
.tl_content.indent_5 {
  width: auto; }

/*
 *
 * Css for opening-wrapper edit panel
 *
 */
#ctrl_wt_opening_tags {
  width: 100%;
  max-width: 100%; }
  #ctrl_wt_opening_tags td.operations {
    min-width: 90px;
    padding-left: 5px; }
    #ctrl_wt_opening_tags td.operations > .widgetImage {
      margin-right: 2px; }
    #ctrl_wt_opening_tags td.operations > .widgetImage:last-child {
      margin-right: 0; }
  #ctrl_wt_opening_tags td.hidelabel.mcwUpdateFields > .tl_select {
    width: 80px; }
  #ctrl_wt_opening_tags td.hidelabel.mcwUpdateFields select[name$="][tag]"],
  #ctrl_wt_opening_tags td.hidelabel.mcwUpdateFields select[name$="][tag]"] option {
    min-width: 80px;
    width: 100%; }
  #ctrl_wt_opening_tags input[name$="][class]"] {
    width: 100%;
    padding-right: 10px; }
  #ctrl_wt_opening_tags input[name$="][style]"] {
    width: 100%;
    padding-right: 10px; }
  #ctrl_wt_opening_tags td.attributes table {
    margin-top: 0; }
    #ctrl_wt_opening_tags td.attributes table .tl_text {
      width: 100%; }
    #ctrl_wt_opening_tags td.attributes table td:first-child {
      width: auto; }
    #ctrl_wt_opening_tags td.attributes table thead {
      display: none; }
    #ctrl_wt_opening_tags td.attributes table td.operations {
      min-width: 70px; }

/*
 *
 * Css for opening-wrapper edit panel
 *
 */
#ctrl_wt_closing_tags td.operations {
  width: 100%; }

#ctrl_wt_closing_tags td.hidelabel.mcwUpdateFields {
  width: unset; }
  #ctrl_wt_closing_tags td.hidelabel.mcwUpdateFields > .tl_select {
    width: 100px; }
  #ctrl_wt_closing_tags td.hidelabel.mcwUpdateFields select[name$="][tag]"],
  #ctrl_wt_closing_tags td.hidelabel.mcwUpdateFields select[name$="][tag]"] option {
    width: 100px;
    margin-right: 5px; }

/*                      wrapper tags wildcard
 *  ----------------------------------------------------------------
 */
table.wt {
  margin: 0 0 9px 6px; }
  table.wt td .tl_gray {
    margin-right: 2px; }
  table.wt td .value {
    font-weight: 600; }
  table.wt td:first-child {
    font-weight: 600;
    text-align: right;
    padding-right: 5px;
    vertical-align: top; }

.wrapper_stop table.wt td {
  text-align: left; }

/*                      wrapper tags wildcard for Contao 4.x
 *  ----------------------------------------------------------------
 */
table.wt * {
  font-size: .875rem; }
